body {
  font-family: 'Inter', sans-serif !important;
  font-size: 24px;
  font-weight: 100;
  background-color: rgb(61, 60, 60);
  color: #fff;
}

h1 {
  font-weight: 600;
}

h4 {
  font-weight: 200;
  font-size: 32px;
}

.mat-checkbox-label {
  font-family: 'Inter', sans-serif !important;
  font-size: 24px;
  margin-left: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.border-dark {
  border:1px solid rgb(116, 116, 116) !important;
}

img {
  width: 300px;
  height: 250px;
}

p {
  padding: 0.5em;
}

/* Custom Mat Form Field css */

/* ::ng-deep .mat-form-field {
  .mat-input-element {
      color: slategray;
  }
  .mat-form-field-label {
      color: slategray;
  }
  .mat-form-field-underline {
      background-color: slategray;
  }
  .mat-form-field-ripple {
      background-color: slategray;
  }
  .mat-form-field-required-marker {
      color: slategray;
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
      color: #ff884d;
  }
  .mat-form-field-ripple {
      background-color: #ff884d;
  }
  .mat-form-field-required-marker {
      color: #ff884d;
  }
  .mat-input-element {
      color: #ff884d;
  }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
  .mat-input-element {
      color: #ff33cc;
  }
  .mat-form-field-label {
      color: #ff33cc;
      .mat-form-field-required-marker {
          color: #ff33cc;
      }
  }
  .mat-form-field-ripple {
      background-color: #ff33cc;
  }
} */
