
<div class="container-fluid p-5">
  <div class="row gx-1 mt-2">
      <h1>Angular Snippets</h1>
      <div class="col-sm-5 mt-4 p-2">
        <div class="p-4 shadow border-dark">
          <h2>Category Filter Example</h2>
          Demonstrates how to use Material's MatCheckBox to filter a display.<br>
            <a [routerLink]="['/category-filter']" style="float:right;"><button type="button" class="btn btn-success">View</button></a><br>
        </div>
      </div>
      <div class="col-sm-5 mt-4 p-2">
        <div class="p-4 shadow border-dark">
          <h2>File Upload</h2>
          Processing file uploads via Python Flask using FormData.<br>
            <a [routerLink]="['/file-upload']" style="float:right;"><button type="button" class="btn btn-success">View</button></a><br>
        </div>
      </div>
  </div>
</div>
